// @import url('../fonts/Roboto-Regular.ttf');

// Material icons start
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// Material icons end


body {
    font-family: Roboto, serif; //Helvetica, sans-serif, serif;
    color: orange;
    h1 {
        font-size: 4rem;
    }
    // background-image: url('../img/mysvg.svg');
}

p {
    color: indigo;
}